<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Stock</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
<ul>
    <li><a th:href="@{/stock}">Stock</a></li>
    <li><a th:href="@{/goods}">Goods</a></li>
    <li><a th:href="@{/sales}">Sales</a></li>
</ul>
<h1>Goods Sales</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Amount</th>
    </tr>
    </thead>
<tr th:each="sale : ${goodSales}">
    <td th:text="${sale.goods.name}"></td>
    <td th:text="${sale.amount}"></td>
</tr>
</table>
</body>
</html>